<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>FALASTORE - Inicio</title>
  <link rel="stylesheet" href="../css/styles.css" />
</head>
<body>
  <header>
    <nav class="menu">
      <ul>
        <li><a href="index.html" class="active">Inicio</a></li>
        <li><a href="productos.html">Productos</a></li>
        <li><a href="nosotros.html">Nosotros</a></li>
        <li><a href="contacto.html">Contacto</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section class="contenido-principal">
      <h1>Bienvenido a FALASTORE</h1>
      <h2>Tu tienda online de confianza</h2>
      <p>Descubre nuestra variedad de productos y vive la mejor experiencia de compra.</p>
    </section>
    <aside class="sidebar">
    </aside>
  </main>
  <footer>
    <p>&copy; 2025 FALASTORE. Todos los derechos reservados - William Lazo .</p>
  </footer>
</body>
</html>
