<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>FALASTORE - Productos</title>
  <link rel="stylesheet" href="../css/styles.css" />
</head>
<body>
  <header>
    <nav class="menu">
      <ul>
        <li><a href="index.html">Inicio</a></li>
        <li><a href="productos.html" class="active">Productos</a></li>
        <li><a href="nosotros.html">Nosotros</a></li>
        <li><a href="contacto.html">Contacto</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section class="contenido-principal">
      <h1>Productos</h1>

      <div class="content-product">
        <nav class="nav-product">
          <ul class="menu-product">
            <li class="menu-product__item">
              <a href="../nicole-ddw/zapatillas.html" class="menu-product__link">
                Zapatillas
              </a>
            </li>
            <li class="menu-product__item menu-product__item--top">
              <a href="../martin-ddw/electrohogar.html" class="menu-product__link">
                Electrohogar
              </a>
            </li>
            <li class="menu-product__item menu-product__item--top">
              <a href="../valeria-ddw/falastore.html" class="menu-product__link">
                Ropa deportiva
                   <li class="menu-product__item menu-product__item--top">
              <a href="../daniel-ddw/perfumes.html" class="menu-product__link">
                Perfumes
              </a>
            </li>
          </ul>
        </nav>
      </div>

      <h2>Explora lo que tenemos para ti</h2>
      <p>Aquí va la estructura de productos que luego serán reemplazados con datos reales.</p>
    </section>
    <aside class="sidebar">
    </aside>
  </main>
  <footer>
    <p>&copy; 2025 FALASTORE. Todos los derechos reservados.</p>
  </footer>
</body>
</html>
