body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

header {
  background-color: #40207A;
  color: white;
  padding: 1rem;
  text-align: center;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: #40207A;
}

.menu ul li {
  margin: 0 15px;
}

.menu ul li a {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  display: inline-block;
}

.menu ul li a.active,
.menu ul li a:hover {
  background-color: #40207A;
  border-radius: 5px;
}

main {
  display: flex;
  margin: 20px;
}

.contenido-principal {
  flex: 3;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  margin-right: 20px;
}

.sidebar {
  flex: 1;
  padding: 20px;
  background-color: #eaeaea;
  border-radius: 5px;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #40207A;
  color: white;
  margin-top: 20px;
}


/*--------------*/
.content-product {
  padding: 20px;
}

.menu-product {
  list-style: none;
}

.menu-product__item--top {
  margin-top: 9px;
}

.menu-product__item {
  text-align: center;
  background-color: #40207A;
  border-radius: 0.3em;
  width: 35%;
  padding: 10px;
}

.menu-product__item:hover {
  box-shadow: 10px 5px 5px #9b9b9b;
}

.menu-product__link {
  color: #ffffff;
  text-decoration: none;
}

